# IDE files
.idea/

# Rust build output and library-workspace lockfile
/target/
/Cargo.lock

# Unused assets created by the Vite starter
/frontend/calculator/public/favicon.svg
/frontend/calculator/public/icons.svg
/frontend/calculator/public/img.png
/frontend/calculator/src/App.css
/frontend/calculator/src/assets/hero.png
/frontend/calculator/src/assets/react.svg
/frontend/calculator/src/assets/vite.svg
